{% extends "base.html" %}

{% block main_title %}

{{user.username}} || Your All Post ||
  
{% endblock main_title %}


{% block main_body %}
{% for message in messages %}
{% endfor %}  

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="fw-bold navbar-brand " style="color:#0a4275;">BLOG-BITA</a>

    {% comment %} <a class="navbar-brand" href="#">BDRAND</a> {% endcomment %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/post">+POSTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">PROFILE</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " href="/logout" tabindex="-1" >LOGOUT </a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>



{% comment %} <section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </div>
</section> {% endcomment %}

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
      {% for i in posts %}
      <div class="col card">
        <!-- <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->

          <img src="{{i.postpic.url}}" class="card-img-top pt-1" >

          <div class="card-body">
            <h4 class="cart-text">{{i.title}}</h4>

            <p class="card-text">{{i.content|truncatewords:30}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" href='/readmore/{{i.id}}' class="btn btn-sm btn-outline-secondary">View</a>
                <a type="button" href='/postedit/{{i.id}}' class="btn btn-sm btn-outline-info">Edit</a>
                <a type="button" href='/postdelete/{{i.id}}' class="btn btn-sm btn-outline-danger">Delete</a>
              </div>
              <small class="text-muted">{{i.date}}  </small>
            </div>
          </div>
        </div>
        {% empty %}

        <center> NO DATA AVAILABLE</center>
        {% endfor %}
      </div>

      

    </div>
  </div>
</div>

</main>

<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Post More Article</span>
          <a type="button" href='/post' class="btn btn-outline-light btn-rounded">
            +POST
          </a>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://blog-bita.heroku.com/">blog-bita.heroku.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>

    
{% endblock main_body %}
