{% extends "base.html" %}

{% block main_title %}

{{user.username}} || PROFILE ||
  
{% endblock main_title %}


{% block main_body %}
<style>

  img.rounded-circle{
    object-fit:cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="fw-bold navbar-brand " style="color:#0a4275;">BLOG-BITA</a>

      {% comment %} <a class="navbar-brand" href="#">BDRAND</a> {% endcomment %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post">+POSTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/allpost">ALLPOSTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profileedit">EDIT</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link " href="/logout" tabindex="-1" >LOGOUT </a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>



<div class="container">
    <div class="row p-5">
      <div class="col-md-6 img">
        <img src="{{request.user.udp.url}}"  alt="" class="rounded-circle" height='200' width='350'>
      </div>
      <div class="col-md-6 details">
        <blockquote>
          <h5>{{request.user}}</h5>
          <small><cite title="Source Title">Chicago, United States of America  <i class="icon-map-marker"></i></cite></small>
        </blockquote>
        <p>Email:{{request.user.email}}</p> 
        <p>First Name:{{request.user.first_name}}</p> 
        <p>Last Name:{{request.user.last_name}}</p> 
        <p>About:{{request.user.bio}}</p> 
        <p>Joined Date:{{request.user.date_joined}}</p> 
        <!-- <a></a>  -->
        <a  href="/post" type="button" class="btn btn-success"> <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg></span> Let's Post</a>

      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
  <section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">GO And Browse Article</span>
            <a type="button" href='/' class="btn btn-outline-light btn-rounded">
              Browse
            </a>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://blog-bita.heroku.com/">blog-bita.heroku.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>

{% endblock main_body %}